html {
	font-family: 'Raleway', sans-serif;
}

ul,li
{
	list-style: none;
}

section
{
	padding:45px 0px 80px 0px;
}
section .heading
{
	text-align:center;
	padding-bottom: 40px;
}

section p{
	text-align: center;
}

hr{
    border: 1px solid rgb(237, 108, 109);
}
h2{
    text-transform: uppercase;
    text-align: center;
    color: rgb(237, 108, 109);
}
.formateur {
    display: flex;
    justify-content: center;
	flex-direction: row;
}

.image-formateur {
	padding-right: 5px;
	padding-left: 5px;
    margin: 0;
	flex-direction: column;
}

.formateur img {
	width: auto;
	height: 300px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.text-formateur {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color:#f65454;
	color: white;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.text-formateur p{
	margin: 0px;
	text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color:#f65454;
    color: white;
	width: 100%;
}

.text-formateur {
	margin-top: -10px;
	margin-bottom: 20px;
}

.formateur {
	padding-bottom: 0px;
}

.footer {
	display: flex;
	background-color:#39424e;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer img {
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer p {
	padding-right: 20px;
	padding-left: 60px;
	vertical-align: center;
	width: 100%;
}

.footer a {
	text-decoration: none;
	color: white;
}

.button a {
	text-decoration: none;
	color: white;
}

.button {
	background-color:#f65454;
	color: white; 
	box-shadow: none;
	letter-spacing: 0.3px;
	text-align: center;
	display: inline-block;
	border-radius: 40px;
	font-size: 18px;
	font-weight: normal;
	padding: 15px 30px;
	transition: background-color .2s ease, box-shadow .2s ease;
}

.button_section {
	text-align: center;
}

@media screen and (max-width: 700px) {
	.formateur {
		flex-direction: column;
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	.formateur img {
		width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.footer {
		flex-direction: column;
	}
}

@media screen and (max-width: 961px) {
	.footer p{
		text-align:center;
		padding: 0;
	}
}

@media screen and (max-width: 961px) {
	.footer img {
		height: 100%;
		width: 25%;
		padding: 0;
		padding-left: 40%;
		padding-top: 20px;

	}
}

@media screen and (min-width:549px){
.button1, .button2{display: none}
}

@media screen and (max-width:550px){

	.button{
		display: none;	
	}
}
	
	.button1 img{
		background-color: #fff;
		border-radius: 20px;
		width: 125px;
		height: 125px;
		box-shadow: 2px 2px 2px black;
	}

	.button2{
		width: 125px;
		height: 125px;
		font-size: 0rem;
		background-color:#fff;
		border-radius: 40px;
	}


	.button_section {
		text-align: center;
	}

@media screen and (max-width: 961px) {
	.footer {
		flex-direction: column;
	}
}

@media screen and (max-width: 961px) {
	.footer p{
		text-align:center;
		padding: 0;
	}
}

@media screen and (max-width: 961px) {
	.footer img {
		height: 100%;
		width: 25%;
		padding: 0;
		padding-left: 40%;
		padding-top: 20px;
	}
}


/* ------------------------------------------------
-------------------GREG----------------------------
--------------------------------------------------*/

section .heading h2
{
	text-transform: uppercase;
}
#experience .heading h2
{
	color:white;
}
.timeline-panel-container
{
	width: 90%;
}

.timeline-panel-reverse
{
	width: 90%;
	display: flex;
	/* flex-direction: row; */
	margin: 40px;
	border: 1px solid #d4d4d4;
	border-radius: 7px;
	/* padding: 20px 25px;
	position: relative; */
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	background: #fff;
}
.timeline-panel-container-inverted .timeline-panel
{
	float: left;
	margin-left: 40px;
}
.timeline-panel
{
	width: 90%;
	display: flex;
	flex-direction: row-reverse;
	margin: 40px;
	border: 1px solid #d4d4d4;
	border-radius: 7px;
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	background: #fff;
}
.timeline-panel:after
{
	width: 90%;
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-bottom: 14px solid transparent;
	content:" ";
}
.timeline-panel-container-inverted .timeline-panel:after
{
	border-left-width: 0;
	border-right-width: 14vh;
	left:-14vh;
	right: auto;
}
.timeline-heading h3
{

	margin-top: 5vh;
	font-size: 20px
}
.timeline-heading h4
{
	color: #d82c2e;
}
.row {
    display: flex;
    justify-content: space-around;
  }

  img {
	width: 20vh;
	height: 20vh;
}

.row img {
    margin: 0x;
    max-width: 33%;
    margin-top: 8px;
    vertical-align: middle;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

/*-------------------
-------DINU----------
------------------ */
main {width: 100%; height: auto; display: flex; justify-content: space-around; background: rgb(237, 108, 109)}
.logo {height: 100%; width: 45%;}
.menu {height: 100%; width: 30%; background: rgb(237, 108, 109); text-align: center;}
.submenu {margin: 5px;font-family: 'Aclonica';font-size: 16px; color: seashell}
.dropbtn {
    background-color: rgb(237, 108, 109);
    color: white;
    padding: 10px;
    font-size: 16px;
    border-style: solid; border-width: 2px; border-color: white;
    margin-top: 10px;
    ;
      }
  
  .dropdown {
    position: relative;
    display: inline-block;
    }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(255, 81, 81);}