/* EXPERIENCE */
/* .pres {
	float: left;;
} */

ul,li
{
	list-style: none;
}

section
{
	padding:45px 0px 80px 0px;
}
section .heading
{
	text-align:center;
	padding-bottom: 40px;
}
section .heading h2
{
	text-transform: uppercase;
}

.white-divider
{
	width:100px;
	height:2px;
	background:white;
	margin:0 auto;
	margin-bottom: 12px;
}



#experience .heading h2
{
	color:white;
}
.timeline
{
	padding:30px 10px;
	position: relative;
	
}
.timeline:before
{
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 5px;
	background-color: transparent;
	left: 50vw;
	margin-left: -2.5px;
}
.timeline > li
{
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:after
{
	clear: both;
}
.timeline >li:before, .timeline > li:after
{
	content: " ";
	display: table;
}

.timeline-panel-container
{
	width: 50vh;
	float: left;
}
.timeline-panel-container-inverted
{
	width: 50vh;
	float: right;
}
.timeline-panel
{
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin-right: 40vh;
	border: 1px solid #d4d4d4;
	border-radius: 7px;
	padding: 20px 25px;
	position: relative;
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);
	background: #fff;
}

.timeline-panel-container-inverted .timeline-panel
{
	float: left;
	margin-left: 40px;
}
.timeline-panel:after
{
	width: 90%;
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	/* border-left: 14px solid #fff; */
	/* border-right: 0px solid #fff; */
	border-bottom: 14px solid transparent;
	content:" ";
}
.timeline-panel-container-inverted .timeline-panel:after
{
	border-left-width: 0;
	border-right-width: 14vh;
	left:-14vh;
	right: auto;
}
.timeline-heading h3
{

	margin-top: 5vh;
	font-size: 20px
}
.timeline-heading h4
{
	color: #d82c2e;
}


hr{
    border: 1px solid rgb(237, 108, 109);
}
h2{
    text-transform: uppercase;
    text-align: center;
    color: rgb(237, 108, 109);
}
.row {
    display: flex;
    justify-content: space-around;
  }

  img {
	width: 20vh;
	height: 20vh;
}

.row img {
    margin: 2px;
    max-width: 33%;
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 10px  ;
    -webkit-border-radius: 10px  ;
    -moz-border-radius: 10px  ;
    -ms-border-radius: 10px  ;
    -o-border-radius: 10px  ;
}

